{% extends "homepage.twig" %}

{% block body %}
<div class="content">
  <div class="container">
    <div class="contactf mx-auto">
      <form action="{{ path('contact_mail') }}" method="POST">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Imię</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Temat</label>
          <input type="text" class="form-control" name="subject" required>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Wiadomość</label>
          <textarea class="form-control" name="message" rows="5" required></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Zgadzam się na otrzymywanie wiadomości mailowych</label>
        </div>
        <div class="edit_user_footer">
          <button class="btn btn-sm btn-primary pull-right"><i class="fa fa-paper-plane" type="submit"></i> &nbsp; Zatwierdź</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}