@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fontsource/roboto-condensed';

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
  }

header {
    background-color: white;
}

footer {
    background-color: white;
}

.content {
    background-color: white;
}

.contactf {
    width: 25%;
}

.menuedit {
    width: 40%;
}
