{% extends "homepage.twig" %}

{% block body %}
<div class="content">
    <div class="container">
        <div class="text-center">
            <p>Kradniemy ci dane unpocoloco</p>
        </div>
    </div>
</div>
{% endblock %}