{% extends "empty.twig" %}

{% block stylesheets %}{% endblock %}

{% block subtitle %}GDZIE JEST PODTYTUŁ{% endblock %}

{% block page_title %}Menu{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block before_page_content %}<hr>{% endblock %}

{% block page_content %}
<div class="content">
    <div class="container mt-6" style="width: 100%;">
        <div class="form-group" style="display: flex; width: 100%;">
            <label for="monthpicker" id="label_monthpicker">Znajdź rekord:</label>
            <input class="form-control input-sm" type="text" id="data_search" value="" style="display: inline-block; width: 150px; margin-left: 10px;">
            <input type="submit" class="btn btn-primary" id="month_submit" value="Szukaj"/>
			<a href="{{ path('add_dish_twig') }}" class="btn btn-info" role="button">Dodaj danie</a>
        </div>
    </div>
    <div class="table">
        <table class="table table-striped" id="main_table">
            <tbody class="data">
                <tr class="table_headers">
                    <th class="first_th">Id</th>
                    <th class="first_th">Nazwa</th>
                    <th class="first_th">Składniki</th>
                    <th class="first_th">Cena</th>
					<th class="first_th">Typ dania</th>
                    <th class="first_th">Zdjęcie</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	let search_offset = 0;
	let search_size = 30;

	function search(callback = () => {}){
		$('.data').append('<tr class="loading"><td colspan="7" style="text-align: center;">Wczytywanie... <i class="fa fa-spin fa-spinner"></i></td></tr>');
		let phrase = $('#data_search').val();

		$.get('{{ path("menu_search") }}', {phrase: phrase, search_offset: search_offset, search_size: search_size}, function(data){
			let rows = `
				<tr class="table_headers">
					<th class="first_th">Id</th>
					<th class="first_th">Nazwa</th>
					<th class="first_th">Składniki</th>
					<th class="first_th">Cena</th>
					<th class="first_th">Typ dania</th>
					<th class="first_th">Zdjęcie</th>
				</tr>
			`;

			data.rows.forEach((obj) => {
				let status_color = '#000';
				let status_label = '-';

					//let profiles = "";
					//if(obj.profiles.length > 0){
					//	profiles = obj.profiles.join(', ');
					//} else {
					//	profiles = '-';
					//}

				rows += `
					<tr row_id='${obj.id}'>
							<td>#${obj.id}</td>
							<td>${obj.name}</td>
							<td>${obj.ingredients}</td>
							<td>${obj.price}</td>
							<td>${obj.dishType}</td>
							<td><img src='../uploads/${obj.image}' alt='danie' height="100px" width="200px"></td>
					</tr>
				`;
			});

			if(search_offset == 0){
				$('.data').html('');
				if(rows == ''){
					$('.data').html('<tr><td style="color: #999;" colspan="7"><i class="fa fa-times"></i> Brak wyników</td></tr>');
				}
			}

			$('.data').find('.loading').remove();
			$('.data').append(rows);

			if(search_offset > 0 && data.rows.length < search_size){
				$('.data').append('<tr class="loading"><td colspan="7" style="text-align: center;">Wyświetlono wszystkie wyniki</td></tr>');
			}

			callback();
		});
	}

	$(document).ready(function(){
		$('#data_search').keyup($.debounce(500, function(){
			search_offset = 0;
			search();
		}));

		$(window).scroll($.debounce(500, function () {
			let pageHeight = document.documentElement.offsetHeight;
			let windowHeight = window.innerHeight;
			let scrollPosition = window.scrollY || window.pageYOffset || document.body.scrollTop + (document.documentElement && document.documentElement.scrollTop || 0);
				
			if (pageHeight <= windowHeight+scrollPosition) {
				search_offset += search_size;
				search();
			}
		}));

		$(document).on('click', 'tr[row_id]' , function(){
			let row_id = 1*$(this).attr('row_id');
			location.href = "/menu_edit/edit_dish/"+row_id;
		});

		search();
	});
</script> 
{% endblock %}