{% extends "homepage.twig" %}

{% block body %}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="page-section">
                    <h1 class="page-title">Nowości w naszym Menu</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news in news %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                    <div class="menu-block">
                        <div class="menu-content">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="dish-img"><a href="#"><img src="../uploads/p1-6655b54a8c345.png" alt="" class="img-circle" width="70px" height="70px"></a></div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="dish-content">
                                        <h5 class="dish-title">{{ news.name }}</h5>
                                        <span class="dish-meta">{{ news.ingredients }}</span>
                                        <div class="dish-price">
                                            <p>{{ news.price }}zł</p>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}